.hero {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 3rem 0;
}

.hero__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0% 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.hero__heading {
  font-family: var(--font-family-heading);
  font-size: 3.5rem;
  color: var(--color-primary-yellow);
  margin: 0 0 0.25rem 0;
  line-height: 1.1;
}

.hero__subheading {
  font-family: var(--font-family-heading);
  font-size: 2rem;
  color: var(--color-white);
  margin: 0 0 1.5rem 0;
}

.hero__description {
  font-family: var(--font-family-body);
  font-size: 1.125rem;
  color: var(--color-white);
  max-width: 400px;
  margin-bottom: 0 0 2rem 0;
}

.hero__button {
  background-color: var(--color-primary-yellow);
  color: var(--color-black);
  border: auto;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 16px;
  margin-top: 3rem;
}

.hero__image {
  position: relative;
}

.hero__image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
}

/* Responsive */
@media (max-width: 600px) {
  .hero__container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero__heading {
    font-size: 2.5rem;
    max-width: 200px;
  }

  .hero__subheading {
    font-size: 1.5rem;
    max-width: 200px;
  }

  .hero__description {
    max-width: 200px;
  }

  .hero__button {
    max-width: 200px;
    margin-top: 2rem;
  }

  .hero__image {
    max-width: 200px;
    order: -1;
  }

  .hero__image img {
    height: 150px;
  }
}
