.special-card__image {
  height: 200px;
}

.special-card__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.75rem;
}

.special-card__title {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body-bold);
  font-size: 1.25rem;
  color: var(--color-highlight-dark);
  margin: 0;
}

.special-card__price {
  font-size: 1.125rem;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body-bold);
  color: var(--color-highlight-dark);
}

.special-card__description {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-highlight-dark);
  margin: 0 0 1rem 0;
  flex-grow: 1;
}
