.testimonial-card {
  background-color: var(
    --color-highlight-dark
  ); /*TODO: consider other colors for better contrast */
  border-radius: var(--radius-lg);
  padding: 1.5rem;
}

.testimonial-card__rating {
  color: var(--color-primary-yellow);
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.testimonial-card__author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.testimonial-card__image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(
    --color-highlight-dark
  ); /* Fallback color for images that fail to load */
}

.testimonial-card__name {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body-bold);
  font-size: 1.125rem;
  color: var(--color-highlight);
}

.testimonial-card__review {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-secondary-light);
  margin: 0;
}
