.header {
  background-color: var(--color-highlight);
  padding: 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* contains the logo */
.header__container {
  max-width: 1280px;
  margin: 1rem auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 60px;
  width: auto;
}

/* Mobile */
@media (max-width: 768px) {
  .header {
    height: 15vh;
    margin: 0;
    padding: 0rem;
  }

  .header__logo {
    position: absolute;
    height: 30px;
    width: auto;
  }
}
