.header {
  background-color: var(--color-highlight);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* contains the logo */
.header__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  height: 40px;
  width: auto;
}

.header__title {
  font-family: var(--font-family-heading);
  font-size: 2.5rem;
  color: var(--color-primary);
}
