.main-content {
  padding: 2rem;
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--color-primary);
}

.main-content__intro-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-items: center;
}

.main-content__heading {
  font-family: var(--font-family-heading);
  font-size: 2.5rem;
  color: var(--color-primary-yellow);
  margin-bottom: 0.5rem;
}

.main-content__subheading {
  font-family: var(--font-family-heading);
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 3rem;
}

.main-content__description {
  font-family: var(--font-family-body);
  font-size: 1rem;
  color: var(--color-white);
  max-width: 600px;
}

.main-content__button {
  background-color: var(--color-primary-yellow);
  color: var(--color-black);
  border: auto;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 16px;
  margin-top: 3rem;
}

.main-content__image-container {
  margin-top: 2rem;
  height: 50vh;
  width: 35vw;
  overflow: hidden;
}

.main-content__specials-container {
  background-color: var(--color-white);
  margin-top: 4rem;
}

.main-content__specials-container h2 {
  font-family: var(--font-family-heading);
  font-size: 2rem;
  color: var(--color-highlight-dark);
  margin-bottom: 1.5rem;
}
