.nav__list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0 2rem;
}

.nav__item a {
  text-decoration: none;
  color: var(--color-highlight-dark);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body-medium);
  font-size: 1.125rem;
  transition: color 0.3s ease;
}

.nav__item a:hover {
  color: var(--color-secondary);
}

.nav__item a.active {
  color: var(--color-secondary-light);
  font-weight: bold;
}

/* Mobile */
@media (max-width: 768px) {
  .nav__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.55rem;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background-color: var(--color-highlight);
    padding: 0.2rem;
    box-shadow: var(--shadow-md);
  }

  .nav__item a {
    font-size: 0.75rem;
    padding: 0rem 0rem;
  }
}
