.specials {
  padding: 2.5rem 0;
  background-color: var(--color-secondary-light);
  border-radius: var(--radius-md);
}

.specials__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.specials__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.specials__title {
  font-family: var(--font-family-subheading);
  font-weight: var(--font-family-subheading);
  font-size: 2.5rem;
  color: var(--color-highlight-dark);
}

.specials__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Responsive */
@media (max-width: 992px) {
  .specials__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .specials__header {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .specials__title {
    font-size: 2rem;
  }

  .specials__grid {
    grid-template-columns: 1fr;
  }
}
