.testimonials {
  padding: 2rem 0;
  background-color: var(--color-primary);
  border-radius: var(--radius-md); /*in case other background color selected*/
}

.testimonials__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.testimonials__title {
  font-size: 2.5rem;
  font-family: var(--font-family-subheading);
  font-weight: var(--font-weight-subheading);
  color: var(--color-primary-yellow);
  text-align: center;
  margin: 0 0 2.5rem 0;
}

.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

/* Responsive */
@media (max-width: 992px) {
  .testimonials__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .testimonials__title {
    font-size: 2rem;
  }

  .testimonials__grid {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }
}
