.card {
  background-color: var(--color-gray-100);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card__image {
  overflow: hidden;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
